<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <% if message %>

      <%= message %><br/><br/>
      <%= "The SECRET NUMBER is #{number}" if message == 'You got it right!' %>

    <% end %>

    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>

  </body>
</html>
