<!DOCTYPE html>
<html>
  <head>
    <% if color %>
    <style type="text/css">
      body {
        background: <%= color %>;
      }
    </style>
    <% end %>
  </head>
  <body>
    <% if message %>

      <%= message %><br/>
      You have <%= guesses %> guesses remaining<br/>
      <%= "The number is #{number}<br/>" if cheat %><br/>

    <% end %>

    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
      <% if cheat %>
      <input type="hidden" name="cheat" value="true">
      <% end %>
    </form>

  </body>
</html>
